/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root{
  --red: #f54e4e;
  --green: #4aec8c;
}

.App {
  margin: 0;
  /* padding: 50px; */
  background-color: black;
  color: #eee;
  font-weight: 500;
  font-size: 1.2rem;
  height: 100vh;
}

main {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  align-items: center;
  justify-items: center;
}

.item-1 {
  grid-row: 1 / 6;
  grid-column: 1 / 3;
}

.item-2{
  grid-row: 3 / 3;
  grid-column: 2 / 5;
}

.item-3{
  grid-row: 1 / 6;
  grid-column: 4 / 6;
} 

.item-4{
  grid-row: 1 / 3;
  grid-column: 1 / 6;
}

